<div class="result">
  <% if @faireparts %>
  <% @faireparts.each do |fairepart| %>

  <div class="card-outside">
    <div class="card">

      <div class="card-image-container">

        <%= cl_image_tag(fairepart.slug, :class => "card-image") %>

        <div class="card-format">
          <%= fairepart.format %>
        </div>
        <div class="card-pliant">
          <% if fairepart.pliant == true %>
          <%= "Pliant" %>
          <% else %>
          <%= "Non-pliant" %>
          <% end %>
        </div>
        <div class="card-couleur">
          <% if fairepart.couleur == true %>
          Impression couleur
          <br>
          <% if fairepart.verso == true %>
          recto-verso
          <% else %>
          recto seulement
          <% end %>
          <% else %>
          Impression noir et blanc
          <br>
          <% if fairepart.verso == true %>
          recto-verso
          <% else %>
          recto seulement
          <% end %>

          <% end %>
        </div>
      </div>

      <div class="card-footer">

        <div class="footer-container">

          <% if !@mynombre %>
            <% @mynombre = 25 %>
          <% end %>

          <%= @mynombre %> unités :

          <% @myprice = @prices.select { |m| m.fairepart_id == fairepart.id && m.nombre == @myprice_unit} %>

          <% mypricefinal = number_with_precision(@myprice[0].unite * @mynombre.to_i, precision: 2) %>

        <%= mypricefinal %> $*

          <% if @myenveloppe["value"] == "true" %>
            <% if fairepart.format == "5x7" %>

              <div class="prix-enveloppe"><%= @mynombre %> enveloppes :


                <% @myprice_enveloppe = number_with_precision(@PRIXENVELOPPE5X7 * @mynombre.to_i, precision: 2) %>

                <%= @myprice_enveloppe %> $*</div>

          <% else %>

          <div class="prix-enveloppe"><%= @mynombre %> enveloppes :

            <% @myprice_enveloppe = number_with_precision(@PRIXENVELOPPE4X5 * @mynombre.to_i, precision: 2) %>

                <%= @myprice_enveloppe %> $*</div>

          <% end %>
          <% end %>
        </div>
      </div>
       <%= link_to "", show_path(:fairepart => fairepart, :nombre => @mynombre, :price => mypricefinal, :enveloppe => @myenveloppe["value"],:prix_enveloppe => @myprice_enveloppe), :class => "card-link" %>
    </div>
  </div>
  <br>


  <% end %>
  <% end %>


</div>

