<h1>FaireParts#index</h1>
<p>Find me in app/views/faire_parts/index.html.erb</p>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :format, params[:format], placeholder: "Format" %>
<%= text_field_tag :pliant, params[:pliant], placeholder: "Carte Pliante" %>
<%= text_field_tag :couleur, params[:couleur], placeholder: "Couleur" %>
<%= text_field_tag :verso, params[:verso], placeholder: "Verso" %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<% if @fairepart %>
<% @fairepart.each do |fairepart|  %>

<%= fairepart.nom %>

<% end %>

<% end %>

<% if @verso  %>

<%= @verso.class %>

<% end %>

