<div class="tag-col nombre-container">
  <div class="tag-header"> RÉSUMÉ DE LA SOUMISSION</div>
  <div class="tag-contain">


<%= @faireparts %>
<%= @fairepart %>
<%= @enveloppe %>
<%= @nombre %>
<%= @price %>



  </div>
</div>
