<!DOCTYPE html>
<html>
<head>
  <title>FairePart</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="main-wrapper">
    <%= render "faire_parts/admin_navbar" %>
    <div class="main-container">
      <%= link_to cl_image_tag("Pro_logo_CMYK-01", :id => "navbar-logo"), root_path %>
      <h1>CALCULATEUR DE PRIX POUR LES FAIRE-PART</h1>
      <hr>
      <%= yield %>
      <%= render "faire_parts/footer" %>
    </div>
  </div>

</body>
</html>
